{% extends "base.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2>Свяжитесь с нами</h2>
            <p>Мы всегда готовы помочь вам с любыми вопросами и предложениями!</p>
            <div class="section-content">
                <div class="section-text">
                    <h3>Наши Контакты</h3>
                    <ul>
                        <li><strong>Адрес:</strong> Беларусь, г. Минск, проспект Независимости 4</li>
                        <li><strong>Телефон:</strong> + 375 (12) 345-67-89</li>
                        <li><strong>Email:</strong> bsu@bsu.by</li>
                        <li><strong>Часы работы:</strong> Пн-Пт: 9:00 - 21:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; 2025 TechKing. Все права защищены.</p>
        </div>
    </footer>
{% endblock %}